.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: none;
  font: inherit;
  border-radius: 1em;
  padding: 5px 10px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
  outline: none;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}
