@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url("../assets/foam.svg");
  background-size: cover;
  background-position-x: -100%;
  height: 100vh;
  overflow: "hidden";
}

h1 {
  /*font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2em;*/
}

main {
  padding: 1rem;
  padding-top: 4rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

a {
  color: #2c5a59;
  text-decoration: none;
  padding: 5px;
}

a.logo:hover {
  text-decoration: none;
  padding: 5px;
}

a:hover {
  border-bottom: 1px solid #2c5a59;
}

.empty-text {
  text-align: center;
  margin-top: 20%;
  font-size: 1.5em;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 1.5rem;
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.hero-text {
  text-align: left;
  font-size: 13vw;
  padding-left: 3vw;
}

.hero-image {
  margin-top: -20em;
  text-align: right;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item-list.left-nav {
  text-align: left;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item.left {
  margin-top: 20px;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  cursor: pointer;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #55afa1;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid black;
  font: inherit;
  padding: 0 10px;
  margin: 10px;
  display: block;
  background: transparent;
  color: black;
  border-radius: 3em;

  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.card__header,
.card__content {
  padding: 1rem;
  padding-left: 2em;
  padding-right: 2em;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  height: 10rem;
  text-align: center;
}

.card__image img {
  max-width: 100%;
  max-height: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font: inherit;
  border: none;
  border-radius: 1em;
  color: white;
  background: black;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #009382;
  color: white;
}

.btn.danger {
  color: white;
}

.btn.danger:hover,
.btn.danger:active {
  background: rgb(201, 91, 91);
  color: white;
}

.user-message {
  margin: 1em auto;
  width: auto;
  border: none;
  padding: 0.5rem;
  border-radius: 1em;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  background: rgb(211, 99, 99);
  color: white;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #00695c;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 1em;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background: #00695c;
  color: white;
}

@media (max-width: 767.98px) {
  body {
    background-position-x: -40%;
  }
  .hero-image {
    margin-top: 0em;
    margin-right: -3em;
    overflow: hidden;
  }
  .hero-image img {
    width: 120vw;
  }
  .hero-text {
    font-size: 20vw;
    margin-left: 5vw;
  }
  .mobile-left {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  .mobile {
    display: none;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
}

.back-arrow {
  position: absolute;
  left: 1vw;
  top: 10vh;
}

.back-arrow a {
  color: black;
  padding-left: 1em;
}

.back-arrow img {
  padding-right: 1em;
}
