<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1 class="hero-text">New<br/>arrivals</h1>
        <div class="hero-image"><img alt="hero"  src="../assets/shoe1.png"/></div>
    </main>
<%- include('../includes/end.ejs') %>